body{
  font-family: 'Public Sans', sans-serif;
      Font-size: 18px;
      width: 1440px;
}
.headerBox
    {
      font-family: 'Public Sans', sans-serif;
      Font-size: 18px;
      width: 1440px;
      margin: auto 60px;
      background-color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 0px;
      /* margin: 2px; */
      z-index: 2;
    }
    .headerBox img 
    {
      margin: auto 0;
      height: 20px;
      /* margin: 20px; */
    }
    .headerBox ul
    {
      margin: auto 127px;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      text-align: center;
      /* margin-right: 7rem; */
      overflow: hidden;
    }
    .headerBox li
    {margin: 0px 0px 0px 29px;
      /* margin: 20px 20px; */
    }
    .headerBox a
    {
      
      text-decoration: none;
      color: #9698a6;
    }
    .headerBox a:hover
    {
      color: #2d314d;
      
    }
    .headerBox a::after
    {
      content: "";
      position: absolute;
      height: 3px;
      width: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      top: 3rem;
      overflow: hidden;
      opacity: 0;
    }
    .headerBox a:hover::after
    {
      background-image: linear-gradient(to right,#31d35c, #2bb7da);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
      top: 5rem;
      opacity: 1;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }
    .headerBox button
    {
      height: 2.5rem;
      margin: 12px 0 12px 89px;
      Font-size: 18px;
      border: none;
      color: #fff;
      border-radius: 25px;
      padding: 5px 20px 5px 20px;
      background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
      background-image: linear-gradient(to right, #31d35c, #2bb7da);
      cursor: pointer;
      outline: none;
      -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
    .headerBox button:active 
    {
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
    .section1
    {
      width: 1440px;
      margin: auto 0px;
      background-color: hsl(0, 0%, 98%);
      display: flex;
      justify-content: space-evenly;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      display: flex;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      align-items: center;
      overflow: hidden;
      padding: 2.5rem 1.5rem 1.5rem 4rem;

    }
    .section11
    {
      width: 100px;
    }
    .section1Img
    {
      flex: 3;
      height: 41rem;
      background-position: left center;
      background-image: url('images/bg-intro-desktop.svg');
      min-height: 17.5rem;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      
    }
    .section1Img img
    {
      height: 0%;
      width: 93%;
      margin: -120px 0 0px 150px;
    }
    .section1Paragraph
    {
      color: #2d314d;
      margin: 0 0 0 2rem;
      
    }
    .section1Paragraph h1
    {
      font-size: 4rem;
      margin: 0 2rem 0.5rem;
      font-weight: 300;
    }
    .section1Paragraph p
    {
      margin: 0 2rem 0.5rem;
      font-weight: 300;
      font-size: 0.9rem;
      color:#9698a6 ;
    }
    .section1Paragraph button
    {
      margin: 5px 2rem 3rem;
      height: 2.5rem;
      Font-size: 18px;
      border: none;
      color: #fff;
      border-radius: 25px;
      padding: 5px 20px 5px 20px;
      background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
      background-image: linear-gradient(to right, #31d35c, #2bb7da);
      cursor: pointer;
      outline: none;
      -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
    .section1Paragraph button:active
    {
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);

    }
    .section1Img
    {
      height: auto;
      width: 80%;
      float: right;
    }
    .sectioin2 {
      background: #f3f4f6;
      color: #2d314d;
      width: 1440px;
      margin: 0 0 0 0px;
      padding: 2.5rem 1.5rem 1.5rem 4rem;
    }
    .sectioin2 p
    {
      color:#9698a6;
    }
    .sectioin2entry {
      padding: 4rem;
      margin: 0 0 0 16px;
    }
    
    .sectioin2entry h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }
    
    .servicesitems 
    {
      
      display: grid;
      width: 89%;
      grid-template-columns: repeat(4, 1fr);
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      grid-gap: 30px;
      padding: 0rem 0rem 2rem 5rem;
    }
    
    .Parts 
    {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
       align-items:start;           
       margin-top: 1rem;
    }
    .servicestexts h2 
    {
      margin: 20px 0 10px;
      text-align: left;
    }
    
    .servicestexts p 
    {
      text-align: left;
      font-size: 18px;
    }
    .section3
    {
      width: 1440px;
      background-color:hsl(0, 0%, 98%);
      overflow: hidden;
      padding: 2.5rem 1.5rem 1.5rem 4rem;

    }
    .section3Header
    {
      padding: 4rem;
      margin: 0 0 0 21px;
    }
    .section3Grid
    {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;
      padding: 0 5rem 5rem 5rem;
    }
    .section3Gridlist
    {
      background:hsl(0, 0%, 98%);

    }
    .section3Paragraph
    {
      padding: 10px 10px 10px 10px;
    }
    .section3Gridlist h6
    {
      
      color: hsl(233, 8%, 62%);
    } 
    .section3Gridlist h3
    {
      font-size: 1.5rem;
      
    }
    .section3Gridlist a
    {
      text-decoration: none;
      color:hsl(233, 26%, 24%);

    }
    .section3Gridlist a:hover
    {
      text-decoration: none;
      color:hsl(136, 65%, 51%);

    }
    .section3Gridlist p
    {
      color: hsl(233, 8%, 62%);

    }
    .section3Gridlist img
    {
      width: 100%;
    } 
    footer 
    {
      font-family: 'Public Sans', sans-serif;
      Font-size: 18px;
      width: 1440px;
      background: #2d314d;
      padding: 2.5rem 1.5rem 1.5rem 4rem;
      margin: 0px 0px 0px 0px ;
    }
    .footerStyle
    {
      margin: 0 0 0 35px;
      display: flex;
      color: #ffffff;
      flex-direction: row;
    }
    .footOfPage
    {
      margin: 0px 0px 0px 51px;
      background: #2d314d;
      color: #fff;
    }
    .footOfPage img
    {
        margin: 0px 0px 0px 1px ;
    } 
    .LogosOfFooter
    {
      margin: auto auto;
      margin-top: 45px;
    }
    .LogosOfFooter a
    {
        text-decoration: none;
        margin: 3px;
    }
    
    .LogosOfFooter a svg path {
        transition: fill 15ms ease-out;
      }

      .LogosOfFooter a svg path:hover {
        fill: hsl(136, 65%, 51%);
      }
      .footer_firstList
      {
        margin: -16px 0px 0px 56px;

      }

      .footer_firstList ul
      {
          list-style-type: none;

      }
      .footer_firstList li
      {
        margin: 14px 0px 0px 0px;
      }
      .footer_firstList li a
      {
        color: #fff;
        text-decoration: none;
      }
      .footer_firstList li a:hover
      {
        color: hsl(136, 65%, 51%);
      }
      .footer_secondList
      {
          margin: -16px 0px 0px 45px;

      }
      .footer_secondList ul 
      {
          list-style-type: none;
      }
      .footer_secondList li
      {
        margin: 14px 0px 0px 0px;
      }
      .footer_secondList li a
      {
        color: #fff;
        text-decoration: none;
      }
      .footer_secondList li a:hover
      {
        color: hsl(136, 65%, 51%);
      }
      .Footer_button
      {
        margin: 0px 0px 0px 475px;
      }
      .Footer_button button
      {
        margin: -4px 0px 15px 121px; 
        height: 2.5rem;
        Font-size: 18px;
      border: none;
      color: #fff;
      border-radius: 25px;
      padding: 5px 20px 5px 20px;
      background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
      background-image: linear-gradient(to right, #31d35c, #2bb7da);
      cursor: pointer;
      outline: none;
      -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
     }
    .headerBox button:active 
    {
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
      .Footer_button p
      {
        color:hsl(233, 8%, 62%);
      }