body {
    margin: 0;
    padding: 0;
}
.nav-bar {
    width: 75px;
    background: #ffffff;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    border-right: 1px solid #eee;
    flex-wrap: nowrap;
    box-shadow: 0 2px 4px rgba(15, 34, 58, .12)
}
.chat-logo img {
    width: 30px;
}
.icons {
    width: 26px;
    height: 26px;
    border-radius: 8px;
    padding: 12px;
}
.icons svg
{
    width: 100%;
    height: 100%;
}
.icons svg {
    fill:#7a7f9a ;
}
.active-icon svg
{
    fill:#3124e8;
    /* background-color: #f7fdff; */
}
a.icons.active-icon  {
    background-color: #f7fdff;
}

.active-logo {
    text-align: center;
    font-size: 24px;
    width: 56px;
    height: 56px;
    margin: 0 auto;
    line-height: 56px;
    border-radius: 8px;
    padding: 0px;
    background-color:#f7f7ff ! important;
} 
.profile-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile-photo 
{
    width: 30px;
    height: 30px;
    
}


@media (max-width: 991px) {
    .nav-bar {
        
        bottom: 0;
        height: 72px;
        border-top: 1px solid #fff;
        flex-direction:row;
        width: 991px;
    }
    .active-logo{
        text-align: center;
        font-size: 24px;
        width: 56px;
        height: 56px;
        margin: 0;
        line-height: 56px;
        border-radius: 8px;
        padding: 0px;
        background-color:#f7f7ff ! important;
    }
    .hidden {
        display: none;
    }
    
    .chat-logo {
        display: none;
    }
    
}