body {
    font-family: "Public Sans",sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    color: #495057;
    margin: 0;
    padding: 0;
}
.nav-bar {
    align-items: center;
    background: #ffffff;
    border-right: 1px solid #eee;
    box-shadow: 0 1px 4px rgba(15,34,58,.12);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    justify-content:space-evenly;
    position: fixed;
    width: 75px;
}
.chat-logo img {
    width: 30px;
}
.icons {
    border-radius: 8px;
    height: 26px;
    padding: 12px;
    width: 26px;
}
.icons svg
{
    height: 100%;
    width: 100%;
}
.icons svg {
    fill:#7a7f9a ;
}
.active-icon svg
{
    fill:#3124e8;
    
}
a.icons.active-icon  {
    background-color: #f7fdff;
}

.active-logo {
    background-color:#f7f7ff ! important;
    border-radius: 8px;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    width: 56px;
} 
.profile-photo img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.profile-photo 
{
    height: 30px;
    width: 30px;
    
}
.chat-section {
    background: #f5f7fb;
    display: block;
    height: 100vh;
    position: fixed;
    left: 20.2mm;
    width: 386px;
    overflow: auto;
    box-shadow: 0 1px 4px rgba(15,34,58,.12);

}
.header-chat {
    
    padding: 0px 26px;
}
.header-chat h4 {
    font-size: 1.3125rem;
    color: #495057;
}
.search-input a {
    background-color:#e6ebf5;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    padding: 11px 9px;
    width: 24px;
    height: 24px;
}
.search-input a:active {
    border-color:  #e6ebf5;
    border-style: none;
    box-shadow: 0 0 0 .15rem #dde4f1;
    z-index: 3;

}
.search-input {
    display: flex;
    /* justify-content: center; */
    
}

.search-input svg
{
    fill:#7a7f9a ;
    width: 24px;
    height: 24px;
}
.search-input input {
    background-color: #e6ebf5;
    border-color: #e6ebf5;
    width: 83%;
    border: none;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    color: #495057;
    font-size: .875rem;
    padding: 0 17px;
    outline: none;
}
.chat-contact {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    padding: 17px 0px;
    text-align: center;
}

.contact p {
    width: 60%;
    height: 20%;
    z-index: -5;
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: #e6ebf5;
    border-radius: 10px;
    padding: 30px 1px 9px 6px;
    margin: -37px 0 0 0px;
    display: inline-flex;
    font-size: 13px;
    
}

.contact a{
    text-decoration: none;
    color: #495057;
}
.contact img {
    width: 40%;
    height: 56%;
    border-radius: 50%;
    position: relative;
}
.scrol-sec{
    width: 100%;

}
.scrol-chat
{
    max-height: 100%;
    height: calc(100vh-280px);
    position: relative;
    display: flex;
    overflow: hidden scroll;
    
}
.bar {
    display: flex;
    flex-direction: row;
}
ul {
    list-style: none;
}
li img {
    width: 35px;
    height: 35px;
    border-radius: 50%; 

}
@media (max-width: 991px) {
    .nav-bar {
        
        border-top: 1px solid #fff;
        bottom: 0;
        flex-direction:row;
        height: 72px;
        width: 991px;
    }
    .active-logo{
        background-color:#f7f7ff ! important;
        border-radius: 8px;
        font-size: 24px;
        height: 56px;
        line-height: 56px;
        margin: 0;
        padding: 0px;
        text-align: center;
        width: 56px;
    }
    .hidden {
        display: none;
    }
    
    .chat-logo {
        display: none;
    }
    .chat-section {
        background: #f5f7fb;
        /* display: block; */
        /* height: 100vh; */
        position: fixed;
        /* left: 75px; */
        width: 100%;
        height: 75%;
        overflow: auto;
    }
}