body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    background-color: rgb(241, 245, 255);
}

.form-wrapper {
    width: 700px;
    background-color: #ffffff;
    margin: 0 auto;
    position: inherit;
    display: block;
}

header h1 {
    margin: 0;
    font-size: 16px;
    padding: 30px 30px 30px 40px;
    border-bottom: 1px solid rgb(216, 218, 219);
    margin-block-start: 0;
    margin-block-end: 0;
}

.form-data {
    padding:  0 30px;
}

.form-section {
    padding: 10px;
    background: white;
    margin:  10px 0;
}
.form-section:active {
    background-color: #f1f5ff;
}
.form-section:focus-within {
    background-color: #f1f5ff;
}

.form-input {
    display: flex;
    flex-direction: column;
    padding: 0px 0 20px 0;
}
.errForm-section {
    /* padding: 10px; */
    background: rgb(255, 237, 237);
    /* margin:  10px 0; */
}
.form-input:last-child {
    padding: 0;
} 
input {
    border: 2px solid gainsboro;
    border-radius: 4px;
    height: 21px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}
.errfield {
    border : 2px solid #ffb1b1;
    border-radius: 4px;
}
input[type="text" i] {
    padding: 3px 5px;
    margin-left: -2px;
}
.noPadding {
    padding: 0;
}
input:focus {
    outline: none;
}
.title {
    margin-bottom: 10px;
    display: inline-block;
    font-size: 14px;
}

.title.required::after {
    content: "*";
    color: red;
    margin: 0px 0 0px 8px;
}

.form-input .label {
    font-size: 10px;
    margin-bottom: 2px;
    margin-top: 8px;
    font-weight: 500;
}

.inputs-wrapper {
    display: flex;
    justify-content: space-between;
}

.inputs-wrapper .form-input {
    width: calc(50% - 10px);
}
.horLine::before {
    border-top: 1px solid #acb3b7;
    display: block;
    margin: 35px auto;
    width: 98%;
    content: "";
}
textarea {
    border: 2px solid gainsboro;
    border-radius: 4px;
}
textarea:focus {
    outline: none;
}
.form-section.short input {
    width: calc(50% - 30px);
}
select {
    width: calc(50% - 18px);
    height: 34px;
    border: 2px solid gainsboro;
    border-radius: 4px;
    /* height: 21px; */
    font-weight: 500;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}
select:focus {
    outline: none;
}
/* select:required:invalid {
    color: #666;
} */
option[value=""][disabled] {
    display: none;
}
option {
    color: #000;
}
.hide {
    display: none;
}
.checkbox-input {
    display: flex;
    flex-direction: column;
}
.checkbox-input input {
    height: 21px;
    margin: 0 0 0px 0;
    padding: 0;
    width: 18px;
    border: 3px solid gainsboro;
}
.checkbox-wrapper {
    display: flex;
    flex-direction: column;
}
.checkbox-input .label {
    font-size: 13px;
    vertical-align: super;
}
.form-submit {
    padding: 30px 30px 30px 45px;
    border-top: 1px solid gainsboro;
}

.form-submit input {
    height: 52px;
    width: 168px;
    background-color: rgb(24, 189, 91);
    border: white;
    color: white;
    font-size: 19px;
    cursor: pointer;
}
.successful {
    display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
.part {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
}
.part img {
    width: 120px;
    height: 120px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.block1 {
    display: inline-block;
    font-size: 10px;
    margin-top: 6px;
    color: white;
    background: red;
}
/* .form-section.Hline {
    border-top: 2px solid rgb(216, 218, 219);
    border-top: 2px solid rgb(216, 218, 219);
    margin: 35px 10px 0 10px;
    padding: 23px 0 0 0;
} */

/* @media only screen and (max-width: 600px) {
    .form-wrapper {
        width: 100%;
        margin: 0;
    }
} */
/*
.head-sec h1 {
    padding: 25px 0 25px 49px;
    color: rgb(44, 51, 69);
    font-weight: unset;
    margin: 0;
    margin-block: 0;
}
hr {
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
    border-style: ridge;
    border-width: 1px;
}
sup {
    color: rgb(242, 58, 60);
    font-size: 16px;
    vertical-align: initial;
}
.firs-sec {
    width: 87%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}
.firs-sec p {
    margin-block: 0;
} */
/* main-text: rgb(44, 51, 69); */
/* secondary-text: rgb(87, 100, 126); */
/* dark-red: rgb(242, 58, 60); */
/* light-red: rgb(255, 237, 237); */
/* dark-blue: rgb(46, 105, 255); */
/* light-blue: rgb(241, 245, 255); */
/* table-color: rgb(195, 202, 216); */
/* green-color: rgb(24, 189, 91); */